.main-col-pessoa{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-col-pessoa-txt{
    width: 80%;
    display: flex;
    flex-direction: row;
    text-align: justify
}

.main-col-pessoa-txt p{
    line-height: 1.5;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 20px;
}

.main-col-pessoa .titulo-pessoa{
    font-size: 50px;
}