
.card{
    background-image: linear-gradient(#87C65C,#5D994D);
    overflow: hidden;
    width: 55%;
    margin-top: 7%;
    margin-left: 25%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in 0,1s;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35);
}

.card:hover{
    transition: ease-out 0.2s;
}

.card .img_cardCamiseta{
    background-image: url("../imgs/camiseta_pronta.jpg");
    background-position: center;
    background-size: cover;
    width: 420px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
}

.card:hover .img_cardCamiseta{
    opacity: 1;
    width: 440px;
    transition: ease-out 0.2s;
}

.card .img_cardPersonalizado{
    background-image: url("../imgs/produto_personalizado.jpg");
    background-position: center;
    background-size: cover;
    width: 420px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
}

.card:hover .img_cardPersonalizado{
    opacity: 1;
    width: 440px;
    transition: ease-out 0.2s;
}

.card .img_cardCamiseta span{
    font-size:24px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

.card .img_cardPersonalizado span{
    font-size:24px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}


.card .texto_card_produtos{
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    transform: translateY(30px);
}

.card:hover .texto_card_produtos{
    padding: 20px;
    height: 260px;
    transition: all 0.8s ease-out;
    transform: translateY(0);
}

.card .btn_cardProdutos .btn_cardProdutos_btn{
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    background-color: white;
    border-color: white;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
}

.card .btn_cardProdutos .btn_cardProdutos_btn:hover{
    width: 200px;
    height: 60px;
    font-size: 18px;
    text-align: center;
    background-color: black;
    border-color: black;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
}

.card .btn_cardProdutos{
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    transform: translateY(30px);
} 

.card:hover .btn_cardProdutos{
    padding: 20px;
    height: 60px;
    transition: all 0.8s ease-out;
    transform: translateY(0);
}


.card .descricao_card_produto{
    font-size: 11px;
    font-weight: 100;
    line-height: 1.5;
    opacity: .7;
    text-align: justify;
    margin-top: 20px;
}

.card .titulo_card_produtos{
    font-size: 24px;
    font-weight: bold;
    text-align: center;

}

.card .arrow_card_produtos{
    padding-bottom: 15px;
    font-size: 28px;
    transform: rotate(-180deg);
}

.card:hover .arrow_card_produtos{
    transform: rotate(0);
}